{{#partial "title"}}
    Dashboard
{{/partial}}
{{#partial "content"}}
    <div class="row h-100 w-100">
        <div class="col-md-2 h-100 w-100 sidebar text-center text-dark">
            <div class="d-flex flex-column w-100 align-items-center justify-content-center">
                <img src="/assets/logo.png" class="w-50" alt="...">

                <span class="navbar-brand">Tracker</span>
                <hr class="text-dark">
            </div>
        </div>
        <div class="col-md-10 w-100">

        </div>
    </div>
{{/partial}}
{{> layout.hbs}}