{{#partial "username"}}
    {{user.fullName}}!
{{/partial}}
{{#partial "dashboard"}}
    <div class="my-4">
        <h4>Statistics</h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Animals</h5>
                    <p class="card-text">45K</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Sightings</h5>
                    <p class="card-text">45K</p>
                </div>
            </div>
        </div>
    </div>

    <div class="my-4 d-flex w-100 justify-content-between">
        <h4>Recents - Animals</h4>
        <button class="btn btn btn-outline-dark">Add Animal</button>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Age</th>
                        <th scope="col">Health</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                    </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
    <div class="my-4 d-flex w-100 justify-content-between">
        <h4>Recents - Sightings</h4>
        <button class="btn btn btn-outline-dark">Add Sighting</button>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Age</th>
                        <th scope="col">Health</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{{/partial}}
{{> dashboard.hbs}}